html
    head 
        title= title 
    body 
        h1= message 
        h1= 'This page is generated using Pug.js'
        //- The view engine cache does not cache the template' output, only the underlying template itself. The view is still re-rendered with every req even when the cache is on